FACTORIO_AUTOSAVE_INTERVAL=30
FACTORIO_AUTOSAVE_SLOTS=8
FACTORIO_SERVER_NAME="Factorio Docker"
FACTORIO_SERVER_DESCRIPTION="A factorio server hosted in a docker container."
FACTORIO_PORT=34197
FACTORIO_SERVER_VISIBILITY=lan


# The following is an example config for the optional namecheap container.
# The example would update the IP address for the domain factorio.example.com
# If you are not using a subdomain, you can delete the subdomain line.

DOMAIN=example.com
SUBDOMAIN=factorio
INTERVAL=600s
NC_DDNS_PASS=password
